@font-face {
    font-family:Zeyada-Regular;
    src: url(Fonts/Zeyada-Regular.ttf);
}

@font-face {
    font-family:Lobster-Regular;
    src: url(Fonts/Lobster-Regular.ttf);
}
/*Fuentes que me gustaron para aplicar en el CV*/